<% if forks == [] %>
  <h3><span class="glyphicon glyphicon-thumbs-down"></span><%= @repo %> is all but popular!</h3>
<% else %>
<table class="table">
<thead>
  <tr>
    <th><span class="glyphicon glyphicon-book"></span></th>
    <th><span class="glyphicon glyphicon-star"></span></th>
    <th><span class="glyphicon glyphicon-calendar"></span></th>
  </tr>
</thead>
<tbody>
    <% forks.each do |fork| %>
      <tr>
        <td><a href="<%= "https://github.com/#{fork.repo}" %>"><%= fork.repo %></a></td>
        <td><%= fork.stars %></td>
        <td><%= fork.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
